\#[[:space:]]Macro[[:space:]]for[[:space:]]Unity[[:space:]]YAML-based[[:space:]]asset[[:space:]]files.
[attr]unityyaml[[:space:]]-text[[:space:]]merge=unityyamlmerge[[:space:]]diff

\#[[:space:]]Macro[[:space:]]for[[:space:]]all[[:space:]]binary[[:space:]]files[[:space:]]that[[:space:]]should[[:space:]]use[[:space:]]Git[[:space:]]LFS.
[attr]lfs[[:space:]]-text[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs

\#[[:space:]]Default[[:space:]]to[[:space:]]auto-normalized[[:space:]]line[[:space:]]endings.
*[[:space:]]text=auto

\#[[:space:]]Code
*.cs[[:space:]]text[[:space:]]diff=csharp

\#[[:space:]]Unity[[:space:]]Text[[:space:]]Assets
*.meta[[:space:]]unityyaml
*.unity[[:space:]]unityyaml
*.asset[[:space:]]unityyaml
*.prefab[[:space:]]unityyaml
*.mat[[:space:]]unityyaml
*.anim[[:space:]]unityyaml
*.controller[[:space:]]unityyaml
*.overrideController[[:space:]]unityyaml
*.physicMaterial[[:space:]]unityyaml
*.physicsMaterial2D[[:space:]]unityyaml
*.playable[[:space:]]unityyaml
*.mask[[:space:]]unityyaml
*.brush[[:space:]]unityyaml
*.flare[[:space:]]unityyaml
*.fontsettings[[:space:]]unityyaml
*.guiskin[[:space:]]unityyaml
*.giparams[[:space:]]unityyaml
*.renderTexture[[:space:]]unityyaml
*.spriteatlas[[:space:]]unityyaml
*.terrainlayer[[:space:]]unityyaml
*.mixer[[:space:]]unityyaml
*.shadervariants[[:space:]]unityyaml
*.preset[[:space:]]unityyaml
*.asmdef[[:space:]]-text[[:space:]]diff

\#[[:space:]]Unity[[:space:]]Binary[[:space:]]Assets
*.cubemap[[:space:]]lfs
*.unitypackage[[:space:]]lfs
\#[[:space:]]Note:[[:space:]]Unity[[:space:]]terrain[[:space:]]assets[[:space:]]must[[:space:]]have[[:space:]]-Terrain[[:space:]]suffix.
*-[Tt]errain.asset[[:space:]]-unityyaml[[:space:]]lfs
\#[[:space:]]Note:[[:space:]]Unity[[:space:]]navmesh[[:space:]]assets[[:space:]]must[[:space:]]have[[:space:]]-NavMesh[[:space:]]suffix.
*-[Nn]av[Mm]esh.asset[[:space:]]-unityyaml[[:space:]]lfs

\#[[:space:]]Image
*.jpg[[:space:]]lfs
*.jpeg[[:space:]]lfs
*.png[[:space:]]lfs
*.apng[[:space:]]lfs
*.atsc[[:space:]]lfs
*.gif[[:space:]]lfs
*.bmp[[:space:]]lfs
*.exr[[:space:]]lfs
*.tga[[:space:]]lfs
*.tiff[[:space:]]lfs
*.tif[[:space:]]lfs
*.iff[[:space:]]lfs
*.pict[[:space:]]lfs
*.dds[[:space:]]lfs
*.xcf[[:space:]]lfs
*.leo[[:space:]]lfs
*.kra[[:space:]]lfs
*.kpp[[:space:]]lfs
*.clip[[:space:]]lfs
*.webm[[:space:]]lfs
*.webp[[:space:]]lfs
*.svg[[:space:]]lfs
*.svgz[[:space:]]lfs
*.psd[[:space:]]lfs
*.afphoto[[:space:]]lfs
*.afdesign[[:space:]]lfs

\#[[:space:]]Audio
*.mp3[[:space:]]lfs
*.ogg[[:space:]]lfs
*.wav[[:space:]]lfs
*.aiff[[:space:]]lfs
*.aif[[:space:]]lfs
*.mod[[:space:]]lfs
*.it[[:space:]]lfs
*.s3m[[:space:]]lfs
*.xm[[:space:]]lfs

\#[[:space:]]Video
*.mov[[:space:]]lfs
*.avi[[:space:]]lfs
*.asf[[:space:]]lfs
*.mpg[[:space:]]lfs
*.mpeg[[:space:]]lfs
*.mp4[[:space:]]lfs
*.flv[[:space:]]lfs
*.ogv[[:space:]]lfs
*.wmv[[:space:]]lfs

\#[[:space:]]3D
*.fbx[[:space:]]lfs
*.obj[[:space:]]lfs
*.max[[:space:]]lfs
*.blend[[:space:]]lfs
*.blender[[:space:]]lfs
*.dae[[:space:]]lfs
*.mb[[:space:]]lfs
*.ma[[:space:]]lfs
*.3ds[[:space:]]lfs
*.dfx[[:space:]]lfs
*.c4d[[:space:]]lfs
*.lwo[[:space:]]lfs
*.lwo2[[:space:]]lfs
*.abc[[:space:]]lfs
*.3dm[[:space:]]lfs
*.bin[[:space:]]lfs
*.glb[[:space:]]lfs

\#[[:space:]]Executables
*.exe[[:space:]]lfs
*.dll[[:space:]]lfs
*.so[[:space:]]lfs
*.pdb[[:space:]]lfs
*.mdb[[:space:]]lfs

\#[[:space:]]Packaging
*.zip[[:space:]]lfs
*.7z[[:space:]]lfs
*.gz[[:space:]]lfs
*.rar[[:space:]]lfs
*.tar[[:space:]]lf filter=lfs diff=lfs merge=lfs -text
